[submodule "vim/bundle/simple-javascript-indenter"]
	path = vim/bundle/simple-javascript-indenter
	url = git://github.com/jiangmiao/simple-javascript-indenter.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
