# Callback Function
#f
snippet f
	function(${1}) {
		${2}
	}
#ff
snippet ff
	function(err, ${1:data}) {
			if(err) {return ${2:callback}(err);}
			${3}
	}
#fff
snippet fff
	function(req, res, next) {
			${1}
	}

snippet func
	function ${1}(${2}) {
		${3}
	}
